.hero{
  background-image: url(http://placehold.it/800x300);  
  background-size: cover;
  position: relative;
  height: 400px;
}

.hero_heading h1{
    border: 1px solid red;
    color: white;
    position: absolute;
    //top: 0; left: 0; bottom: 0; right: 0;
    left: 50%;
    margin-left: -300px;
    max-width: 600px;
}
